include ../components/Layout.pug
include ../components/Card.pug

- const $dataFiles = ['/data/navigation.json']

Layout(navigation=navigation)
  slot(main)
    body
      h1 Hello, World!
      p Lorem, ipsum dolor.
      Card#someId.foo(title="Bye" count=5 class="bar")
