component Card()
  .card
    slot(header)
      h1 Default Title
    slot(body)
      p Default content here
    slot(footer)
      span Default footer text

Card()
  // All slots use default content

