component Layout()
  html
    head
      slot(head)
        title Default Title
    body
      main
        slot(main)
          p Default content
      footer
        slot(footer)
          p Default footer
