include ./components/Layout.pug
include ./components/Card.pug

component IndexPage()
  Layout()
    slot(header)
      header hoge
    slot(main)
      body
        h1 Hello, World!
        p Lorem ipsum dolor sit amet.
        Card#someId.foo(title="Bye" count=5 class="bar")

//- Do not forget to call the component.
IndexPage()