component Input()
  - const { required, disabled, readonly } = $props
  input(required=required, disabled=disabled, readonly=readonly)

- const required = true
- const disabled = false
Input(required, disabled, readonly)
